.footer {
  background-color: rgb(5,21,46);
  width: 100%;
  padding: 20px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid white;

}

a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 18px 32px;
}

.img{
  width: 25px;
}