.header {
  background-color: rgb(5,21,46);
  width: 100%;
  padding: 20px 32px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  box-sizing: border-box;
  border: 3px solid white;

}

p {
  padding: 18px 32px;
}
