.ContentBlock{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.img{
  margin: 0 30px;
}

img{
  width: 400px;
  border-radius: 15px;
}

.text {
  background-color: rgba(rgb(128,173,194),0.9);
  padding: 20px;
  border-radius: 15px;
}

p{
  padding: 10px 0;
}

ul{
  padding: 0 30px;
}
