body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.Cont{
  justify-content: center;
  margin: 0 auto;
}

.cardCont {
  padding: 0 120px;
  width: 1000px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
